In [15]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from citipy import citipy

# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime

# Import the requests library.
import requests

In [23]:
#open csv 2021
#wvht corresponds to wave height. omit 99.0 when extracting data
clemente_2021_df = pd.read_csv("sanclemente_2021.csv")
clemente_2021.head()

,#YY,MM,DD,hh,mm,WDI,R WSP,D GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,2021,1,1,0,0,999,11.0,13.6,99.0,99.0,99.0,999,1012.9,14.9,999.0,9.5,99,99
1,2021,1,1,0,10,999,11.5,14.4,99.0,99.0,99.0,999,1013.0,14.9,999.0,9.4,99,99
2,2021,1,1,0,20,999,11.1,14.4,99.0,99.0,99.0,999,1013.0,14.8,999.0,9.5,99,99
3,2021,1,1,0,30,999,9.6,12.5,99.0,99.0,99.0,999,1013.1,14.9,999.0,10.1,99,99
4,2021,1,1,0,40,999,9.4,11.5,99.0,99.0,99.0,999,1013.3,14.8,999.0,10.2,99,99

In [24]:
#open csv 2020
clemente_2020_df = pd.read_csv("sanclemente_2020.csv")
clemente_2020.head()

,#YY,MM,DD,hh,mm,WDIR,WSP,D GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,2020,1,1,0,0,319,4.0,5.1,99.00,99.0,99.00,999,1016.1,16.2,15.7,11.2,99,99
1,2020,1,1,0,10,313,4.1,5.4,99.00,99.0,99.00,999,1016.2,16.2,15.7,11.6,99,99
2,2020,1,1,0,20,313,4.0,5.4,99.00,99.0,99.00,999,1016.3,16.2,15.7,11.5,99,99
3,2020,1,1,0,30,314,3.9,5.2,99.00,99.0,99.00,999,1016.4,16.2,15.6,11.5,99,99
4,2020,1,1,0,40,320,3.7,5.1,2.19,16.0,9.15,263,1016.4,16.2,15.6,11.3,99,99

In [29]:
waveheight_2021 = clemente_2021_df[clemente_2021_df['WVHT'] <= 98]
waveheight_2021.head(10)

,#YY,MM,DD,hh,mm,WDI,R WSP,D GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
10,2021,1,1,1,40,999,9.0,11.6,2.98,9.09,6.80,285,1013.9,14.5,999.0,10.4,99,99
16,2021,1,1,2,40,999,9.3,11.8,2.94,17.39,6.92,293,1014.1,14.6,999.0,10.7,99,99
28,2021,1,1,4,40,999,8.2,10.5,2.79,9.09,6.97,285,1014.2,14.8,999.0,9.8,99,99
34,2021,1,1,5,40,999,7.5,9.8,2.65,16.00,7.09,286,1014.6,14.9,999.0,9.6,99,99
40,2021,1,1,6,40,999,8.0,10.2,2.50,16.00,7.21,288,1014.8,15.2,999.0,9.2,99,99
46,2021,1,1,7,40,999,6.4,7.7,2.72,16.00,7.28,291,1014.8,15.3,999.0,8.8,99,99
52,2021,1,1,8,40,999,6.6,8.5,2.54,8.33,7.40,286,1014.8,15.1,999.0,9.4,99,99
58,2021,1,1,9,40,999,5.9,7.4,2.53,16.00,7.64,276,1014.7,15.1,999.0,9.9,99,99
64,2021,1,1,10,40,999,4.5,6.0,2.39,17.39,7.67,294,1015.0,14.5,999.0,11.6,99,99
70,2021,1,1,11,40,999,4.5,6.0,2.33,16.00,7.54,270,1015.3,14.9,999.0,10.5,99,99

In [31]:
waveheight_2020 = clemente_2020_df[clemente_2020_df['WVHT'] <= 98]
waveheight_2020.head(10)

,#YY,MM,DD,hh,mm,WDIR,WSP,D GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,TIDE
4,2020,1,1,0,40,320,3.7,5.1,2.19,16.00,9.15,263,1016.4,16.2,15.6,11.3,99,99
10,2020,1,1,1,40,287,2.0,3.8,2.07,13.79,8.97,267,1016.7,16.0,15.6,11.7,99,99
16,2020,1,1,2,40,296,4.9,6.4,1.97,11.43,8.99,263,1017.0,16.3,15.6,10.9,99,99
22,2020,1,1,3,40,302,5.3,6.6,2.11,14.81,9.08,267,1017.4,15.9,15.6,12.1,99,99
28,2020,1,1,4,40,312,5.9,7.7,2.01,14.81,9.04,262,1017.9,16.2,15.6,11.7,99,99
34,2020,1,1,5,40,303,5.6,7.3,1.76,13.79,7.93,267,1018.1,15.8,15.6,12.6,99,99
40,2020,1,1,6,40,309,4.7,6.1,1.74,14.81,8.24,269,1018.2,15.5,15.6,12.8,99,99
46,2020,1,1,7,40,318,4.5,5.8,1.88,14.81,8.44,271,1018.3,15.3,15.6,12.6,99,99
52,2020,1,1,8,40,322,1.1,2.2,1.83,12.90,8.00,278,1017.7,15.2,15.5,12.4,99,99
58,2020,1,1,9,40,234,0.0,0.5,1.71,12.90,8.23,277,1017.6,14.8,15.5,12.4,99,99

In [32]:
#output csv
output_data_file_1 = "eunjais_clemente_2020.csv"
waveheight_2020.to_csv(output_data_file_1)

In [ ]:
#output csv
output_data_file_2 = "eunjais_clemente_2021.csv"
waveheight_2021.to_csv(output_data_file_2)